.profile-page {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../../images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.profile-contents {
  max-width: 900px;
  background-color: var(--background);
  width: 100%;
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.userName {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--text-color);
}

.userEmail {
  font-size: 18px;
  color: var(--text-color);
}
