.upload-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 2rem auto;
  background-color: var(--background);
  border-radius: 8px;
  overflow: hidden;
  min-height: 200px;
}

.upload-info {
  flex: 1;
  padding: 20px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.plus-icon {
  font-size: 4rem;
  color: var(--text-color);
  cursor: pointer;
}

.upload-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 8px;
  margin: 20px;
  height: 30rem;
  overflow: hidden;
}

.select-image-btn {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

.image-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.image-preview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.upload-info {
  display: flex;
  flex-direction: column;
  position: relative;
}

.user-and-upload {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  flex: 1;
}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  flex: 1;
}

.user-details p {
  color: var(--text-color);
  font-size: var(--h3-font-size);
}

.upload-btn {
  margin-left: auto;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-btn:disabled {
  background-color: var(--container-color);
  cursor: not-allowed;
}

.upload-info textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--container-color);
  background-color: var(--container-color);
  color: var(--text-color);
  resize: none;
}

.error {
  color: red;
  margin-top: 10px;
}
