.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background);
}

.info-container,
.login-form-container {
  height: 50%;
  border-radius: 8px;
  padding: 40px;
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form-container {
  background-color: var(--background);
}

.info-container {
  background: url("../../images/infoBackground.svg") no-repeat center center;
  background-size: cover;
  color: white;
  margin-right: 20px;
  text-align: center; /* Center text */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  padding: 20px; /* Adjust padding as needed */
}

.info-logo {
  width: 60%; /* Adjust size */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Space between logo and text */
}

.info-text {
  font-size: var(--h1-font-size);
}

.login-form-container {
  background-color: var(--background);
  border: 1px solid var(--container-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-logo {
  font-size: var(--h1-font-size);
  color: var(--text-color);
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid var(--container-color);
  border-radius: 3px;
  background-color: var(--container-color);
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.or-text {
  margin: 20px 0;
  color: #8e8e8e;
  position: relative;
}

.or-text::before,
.or-text::after {
  content: "";
  background-color: var(--container-color);
  height: 1px;
  width: 40%;
  position: absolute;
  top: 50%;
}

.or-text::before {
  left: 0;
}

.or-text::after {
  right: 0;
}

.google-sign-in-button {
  background-color: var(--container-color);
  color: var(--text-color);
  border: 1px solid var(--container-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.google-sign-in-button img {
  width: 18px;
}

.signup-text {
  margin-top: 20px;
  color: #8e8e8e;
}

.signup-text a {
  color: var(--primary-color);
  text-decoration: none;
}
