.post-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--background);
  border: 1px solid var(--border-color);
  overflow: hidden;
  padding-bottom: 16px;
}

.like {
  padding-left: 1rem;
  color: var(--text-color);
}

.like.liked {
  color: var(--accent-color);
}

.post-header {
  display: flex;
  align-items: center;
  padding: 16px 16px 0px;
}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.user-name {
  font-size: var(--normal-font-size);
  font-weight: bold;
  text-transform: capitalize;
  padding-right: 2rem;
  color: var(--text-color);
}

.post-caption {
  padding: 0 16px 1px 80px;
  color: var(--text-color);
  font-size: var(--h3-font-size);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.post-image {
  width: 100%;
  padding: 16px 16px 16px 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.post-footer {
  display: flex;
  justify-content: space-around;
}

.footer-icon {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--text-color);
}
.post-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--background);
  border: 1px solid var(--border-color);
  overflow: hidden;
  padding-bottom: 16px;
  position: relative;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 16px;
  position: relative;
}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
}

.post-caption {
  padding: 0 16px;
  color: var(--text-color);
  font-size: var(--h3-font-size);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.post-image {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.post-footer {
  display: flex;
  justify-content: space-around;
}

.footer-icon {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--text-color);
  cursor: pointer;
}

.more-options-icon {
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: auto;
}

.post-menu {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-color);
}

.menu-options {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--background);
  border: 2px solid var(--container-color);
  border-radius: 5px;
  z-index: 1;
  width: 100px;
}

.menu-options button {
  display: block;
  width: 100%;
  padding: 10px;
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  background: none;
  text-align: left;
  cursor: pointer;
}

.menu-options button:hover {
  background-color: var(--accent-color);
}

.post-caption textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  resize: vertical;
  background-color: var(--background);
  color: var(--text-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  resize: none;
}

.post-caption button {
  margin-top: 8px;
  padding: 8px 16px;
  border: none;
  background-color: var(--accent-color);
  color: var(--text-color);
  border-radius: 4px;
  cursor: pointer;
}

.post-date {
  color: var(--text-color);
  font-size: var(--normal-font-size);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--background);
  border-radius: 8px;
  padding: 20px 35px 20px 20px;
  width: 100%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
}

.comments-section {
  max-height: 300px;
  overflow-y: auto;
}

.new-comment {
  position: sticky;
  bottom: 0;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

.new-comment textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-bottom: 8px;
  resize: none;
  background-color: var(--container-color);
  color: var(--text-color);
  font-family: "Inter";
}

.new-comment button {
  align-self: flex-end;
  padding: 8px 12px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Inter";
}

.comment {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  position: relative;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.comment-user-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 8px;
}

.comment-content {
  background-color: var(--container-color);
  padding: 8px;
  width: 100%;
  max-width: 485px;
  border-radius: 8px;
  color: var(--text-color);
  flex: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.comment-user-name {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: var(--h3-font-size);
  color: var(--text-color);
}

.comment-text {
  font-size: var(--h3-font-size);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.comment-placeholder {
  font-size: var(--h3-font-size);
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding-bottom: 1rem;
}

.close-modal-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: var(--text-color);
  cursor: pointer;
}

.close-modal-button:hover {
  color: var(--accent-color);
}

.comment-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 8px;
}

.comment-menu-icon {
  cursor: pointer;
  color: var(--text-color);
}

.comment-menu-options {
  position: absolute;
  top: 25px;
  right: 0;
  background-color: var(--background);
  border: 1px solid var(--border-color);
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.comment-menu-options button {
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.comment {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
}

.comment-content {
  flex: 1;
  margin-left: 10px;
}

.comment-user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.edit-box {
  resize: none;
  background: var(--container-color);
  color: var(--text-color);
  font-size: var(--h3-font-size);
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 1rem;
  width: 85%;
}
