@import url("https://fonts.googleapis.com/css?family=Inter:700|Inter:400");

:root {
  /*==========COLORS==========*/
  --text-color: #eeeff6;
  --background: #0e0e10;
  --container-color: hsl(0, 1%, 15%);
  --primary-color: #8c93d9;
  --secondary-color: #222a87;
  --accent-color: #434edf;
  --border-color: hsl(0, 1%, 40%);

  /*==========TYPOGRAPHY==========*/
  --body-font: "Inter", sans-serif;
  --h1-font-size: 3rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --normal-font-size: 1.2rem;
  --small-font-size: 0.9rem;
  --smaller-font-size: 0.813rem;

  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;

  --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);

  --border-radius: 20px;
}

:root[data-theme="light"] {
  --text-color: #090a11;
  --background: #f1f1f8;
  --primary: #262d73;
  --secondary: #7881dd;
  --accent: #202abc;
}

body {
  font-family: "Inter";
  font-weight: 400;
}

p {
  color: var(--text-color);
}

html {
  font-size: 100%;
} /* 16px */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  background-color: var(--background);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--background);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
